.goog-inline-block {
    position: relative;
    display: -moz-inline-box;
    display: inline-block
}

* html .goog-inline-block {
    display: inline
}

*:first-child+html .goog-inline-block {
    display: inline
}

.jfk-bubble {
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    background-color: #fff;
    border: 1px solid;
    border-color: #bbb #bbb #a8a8a8;
    padding: 16px;
    position: absolute;
    z-index: 1201!important;
}

.jfk-bubble-closebtn {
    background: url(//ssl.gstatic.com/ui/v1/icons/common/x_8px.png) no-repeat;
    border: 1px solid transparent;
    height: 21px;
    opacity: .4;
    outline: 0;
    position: absolute;
    right: 2px;
    top: 2px;
    width: 21px
}

.jfk-bubble-closebtn:focus {
    border: 1px solid #4d90fe;
    opacity: .8
}

.jfk-bubble-arrow {
    position: absolute
}

.jfk-bubble-arrow .jfk-bubble-arrowimplbefore,
.jfk-bubble-arrow .jfk-bubble-arrowimplafter {
    display: block;
    height: 0;
    position: absolute;
    width: 0
}

.jfk-bubble-arrow .jfk-bubble-arrowimplbefore {
    border: 9px solid
}

.jfk-bubble-arrow .jfk-bubble-arrowimplafter {
    border: 8px solid
}

.jfk-bubble-arrowdown {
    bottom: 0
}

.jfk-bubble-arrowup {
    top: -9px
}

.jfk-bubble-arrowleft {
    left: -9px
}

.jfk-bubble-arrowright {
    right: 0
}

.jfk-bubble-arrowdown .jfk-bubble-arrowimplbefore,
.jfk-bubble-arrowup .jfk-bubble-arrowimplbefore {
    border-color: #bbb transparent;
    left: -9px
}

.jfk-bubble-arrowdown .jfk-bubble-arrowimplbefore {
    border-color: #a8a8a8 transparent
}

.jfk-bubble-arrowdown .jfk-bubble-arrowimplafter,
.jfk-bubble-arrowup .jfk-bubble-arrowimplafter {
    border-color: #fff transparent;
    left: -8px
}

.jfk-bubble-arrowdown .jfk-bubble-arrowimplbefore {
    border-bottom-width: 0
}

.jfk-bubble-arrowdown .jfk-bubble-arrowimplafter {
    border-bottom-width: 0
}

.jfk-bubble-arrowup .jfk-bubble-arrowimplbefore {
    border-top-width: 0
}

.jfk-bubble-arrowup .jfk-bubble-arrowimplafter {
    border-top-width: 0;
    top: 1px
}

.jfk-bubble-arrowleft .jfk-bubble-arrowimplbefore,
.jfk-bubble-arrowright .jfk-bubble-arrowimplbefore {
    border-color: transparent #bbb;
    top: -9px
}

.jfk-bubble-arrowleft .jfk-bubble-arrowimplafter,
.jfk-bubble-arrowright .jfk-bubble-arrowimplafter {
    border-color: transparent #fff;
    top: -8px
}

.jfk-bubble-arrowleft .jfk-bubble-arrowimplbefore {
    border-left-width: 0
}

.jfk-bubble-arrowleft .jfk-bubble-arrowimplafter {
    border-left-width: 0;
    left: 1px
}

.jfk-bubble-arrowright .jfk-bubble-arrowimplbefore {
    border-right-width: 0
}

.jfk-bubble-arrowright .jfk-bubble-arrowimplafter {
    border-right-width: 0
}

