[class*="language-"] {
    text-shadow: none;
    background: hsla(0,0%,93%,0.15); /* #EDEDED */
}
[class*='language-'] {
    border-radius: .3em;
    border: .13em solid hsl(0,0%,33%); /* #545454 */
    box-shadow: 1px 1px .3em -.1em black inset;
    padding: .15em .2em .05em;
}[class*='language-'] {
     border-radius: .3em;
     border: .13em solid hsl(0, 0%, 33%); /* #545454 */
     box-shadow: 1px 1px .3em -.1em black inset;
 }
