/* Begin Typography & Colors */
/*  background: #D1D5DB;
  border-bottom: 20px solid #C1E56D;*/

body {
  font-family: Palatino, Georgia, Times, serif;
  color: #333;
  text-align: center;
  background: white;
}

#page {
  text-align: left;
  }

#content {
  font-size: 20px;
  line-height: 30px;
}

#content p + p {
  padding-top: 12px
}

.narrowcolumn .postmetadata {
  text-align: center;
  }

.alt {
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  }

small {
  font-size: 0.9em;
  line-height: 1.5em;
  }

h3, h4, h5 {
  font-weight: bold;
  font-family: "Lucida Grande",tahoma,Arial,sans-serif;
}

#header {padding: 50px 0 10px; border-bottom: 2px solid #eee; overflow: hidden}
#header div {float: right; padding-top: 2px; font-size: 18px}
#header div a {margin-left: 20px; border-top: 2px solid transparent}
#header div a:hover {color: #444; border-top: 2px solid #C1E56D}
#header a {color: #333}
#header a:hover {background: 0; color: #333; text-decoration: none}
.title {font-size: 22px; float: left; margin: 0}

h1 {font-weight: normal; font-size: 72px; padding-top: 72px; margin-bottom: 10px}
.meta {font-size: 30px; padding-bottom: 60px}

h2 {font-size: 36px; line-height: 48px}
h3 {font-size: 32px; line-height: 42px}

h1 a, h2 a, h3 a, h1 a:hover, h2 a:hover, h3 a:hover{
    text-decoration: none; color: #333; background: none;
  }

.entry p a:visited {
  color: #b85b5a;
  }
.entry p a:hover {
  color: white;
  background: #b85b5a;
  }

.commentlist li, #commentform input, #commentform textarea {
  font: 0.9em 'Lucida Grande', Verdana, Arial, Sans-Serif;
  }

.commentlist li {
  font-weight: bold;
  overflow: auto;
  }

.commentlist cite, .commentlist cite a {
  font-weight: bold;
  font-style: normal;
  font-size: 1.2em;
  }

.commentlist p {
  font-weight: normal;
  line-height: 1.6em;
  text-transform: none;
  }

.commentmetadata {
  font-weight: normal;
  
}
.commentmetadata a {
  color: #999; text-decoration: none;
}
.commeta {
  border-bottom: 1px solid #ddd;
  padding-bottom: 7px;
}


small, .nocomments, .postmetadata, blockquote, strike {
  color: #777;
  }

acronym, abbr, span.caps
{
  font-size: 0.9em;
  letter-spacing: .07em;
  }

a, h2 a:hover, h3 a:hover {
  color: #3980c0;
  text-decoration: none;
  }

a:hover {
  color: white;
  background: #3980c0;
  text-decoration: underline;
  }

/* End Typography & Colors */



/* Begin Structure */
body {
  margin: 0;
  padding: 0;
  }

#page {
  margin: 0px auto;
  padding: 0 10px;
}


.narrowcolumn {
  padding: 0 10px 20px;
  margin: 0px 0 0;
}

@media all and (min-width: 1024px) {
  .narrowcolumn {
    padding-left: 150px;
    width: 650px;
  }
  #page {
    width: 950px;
  }
  #footer {
    width: 950px;
  }
  .widecolumn .listmeta {
    width: 220px;
    position: absolute;
    text-align: left;
    background: 0;
    top: 0;
    padding: 0;
  }
  .widecolumn .entry {
    position: relative;
    top: 0;
    left: 250px;
    width: 700px;
  }
  .widecolumn .post {
    position: relative;
  }

}

.listmeta {
  background: #eee;
  padding: 10px;
  border-radius: 2px;
}

.widecolumn {
  padding: 10px 0;
}

.post, .entry p {
  margin: 0 0 20px;
  text-align: justify;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.widecolumn .post {
  margin: 0;
  background: transparent url(/images/orn.png) no-repeat bottom center; padding-bottom: 60px;
}

.narrowcolumn .postmetadata {
    margin: 30px 0;
  }

.widecolumn .postmetadata {
  margin: 30px 0;
  }

.widecolumn .smallattachment,
.narrowcolumn .smallattachment{
  text-align: center;
  float: left;
  width: 128px;
  margin: 5px 5px 5px 0px;
}

.widecolumn .attachment,
.narrowcolumn .attachment {
  text-align: center;
  margin: 5px 0px;
}

.postmetadata {
  clear: left;
}

#more {
  font-family: "Lucida Grande",tahoma,Arial,sans-serif;
  background: #373737;
  color: #999;
  font-size: 12px;
  padding-top: 30px;
}
#footer {
  padding: 0 0 0 1px;
  margin: 0 auto;
  clear: both;
}

#footer p {
  margin: 0;
  padding: 20px 0;
  text-align: center;
  }
/* End Structure */



/*  Begin Headers */
h2, h3, h4, h5 {
  text-align: left;
}

h2 {
  margin: 30px 0 0;
  }

h3 {
  padding: 0;
  margin: 30px 0 0;
  }

h3.comments {
  padding: 0;
  margin: 40px auto 20px ;
  }
/* End Headers */



/* Begin Images */
p img {
  padding: 0;
  max-width: 100%;
  }

/*  Using 'class="alignright"' on an image will (who would've
  thought?!) align the image to the right. And using 'class="centered',
  will of course center the image. This is much better than using
  align="center", being much more futureproof (and valid) */

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

img.alignright {
  padding: 4px;
  margin: 0 0 2px 7px;
  display: inline;
  }

img.alignleft {
  padding: 4px;
  margin: 0 7px 2px 0;
  display: inline;
  }

.alignright {
  float: right;
  }

.alignleft {
  float: left
  }
/* End Images */



/* Begin Lists

  Special stylized non-IE bullets
  Do not work in Internet Explorer, which merely default to normal bullets. */

html>body .entry ul {
  margin-left: 0px;
  padding: 0 0 0 30px;
  list-style: normal;
  padding-left: 10px;
  }

html>body .entry li {
  margin: 7px 0 8px 10px;
  }

.entry ol {
  padding: 0 0 0 35px;
  margin: 0;
  }

.entry ol li {
  margin: 0;
  padding: 0;
  }

.postmetadata ul, .postmetadata li {
  display: inline;
  list-style-type: none;
  list-style-image: none;
  }



ol li{
  list-style: decimal outside;
  }

/* End Entry Lists */



/* Begin Form Elements */
#searchform {
  margin: 10px auto;
  padding: 5px 3px;
  text-align: center;
  }

.entry form { /* This is mainly for password protected posts, makes them look better. */
  text-align:center;
  }

select {
  width: 130px;
  }

#commentform input {
  width: 170px;
  padding: 2px;
  margin: 5px 5px 1px 0;
  }

#commentform textarea {
  width: 100%;
  padding: 2px;
  }

#commentform #submit {
  margin: 0;
}
/* End Form Elements */



/* Begin Comments*/
.alt {
  margin: 0;
  padding: 10px;
  }

.commentlist {
  padding: 0;
  text-align: justify;
  }

.commentlist li {
  margin: 15px 0 3px;
  padding: 5px 10px 3px;
  list-style: none;
  }

.commentlist p {
  margin: 10px 5px 10px 0;
  }

#commentform p {
  margin: 5px 0;
  }

.nocomments {
  text-align: center;
  margin: 0;
  padding: 0;
  }

/* End Comments */


/* Begin Various Tags & Classes */
acronym, abbr, span.caps {
  cursor: help;
  }

acronym, abbr {
  border-bottom: 1px dashed #999;
  }

blockquote {
  margin: 15px 30px 0 10px;
  padding-left: 20px;
  border-left: 5px solid #ddd;
  }

blockquote cite {
  margin: 5px 0 0;
  display: block;
  }

.center {
  text-align: center;
  }

hr {
  display: none;
  }

a img {
  border: none;
  }

.navigation {
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 60px;
  overflow: hidden;
  }
.moar {
  border-top: 1px solid #333;
  padding: 20px 0;
}
/* End Various Tags & Classes*/

/* source highlighting */
.hl-default {
    color: Black;
}
.hl-code {
    color: Gray;
}
.hl-brackets {
    color: Olive;
}
.hl-comment {
    color: Orange;
}
.hl-quotes {
    color: Darkred;
}
.hl-string {
    color: Red;
}
.hl-identifier {
    color: Blue;
}
.hl-builtin {
    color: Teal;
}
.hl-reserved {
    color: Green;
}
.hl-inlinedoc {
    color: Blue;
}
.hl-var {
    color: Darkblue;
}
.hl-url {
    color: Blue;
}
.hl-special {
    color: Navy;
}
.hl-number {
    color: Maroon;
}
.hl-inlinetags {
    color: Blue;
}
.hl-main {
    background-color: #f8f8f8;
}
.hl-gutter {
    background-color: #f8f8f8;
    color: white
}
.hl-table {
    font-family: Consolas, Monaco, monospace;
    font-size: 12px;
    border: solid 1px Lightgrey;
}
pre, code {
  font-family: Consolas, Monaco, monospace;
  background: #f8f8f8;
  -moz-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #eee;
}
pre {
  font-size: 16px;
  line-height: 24px;
  padding: 10px;
  overflow: auto;
}
code {
  color: green;
  font-size: 18px;
}
.curly-underline {
    background: url(/images/underline.gif) bottom repeat-x;
}


/* Textpad */
.tpt { color: #000; background-color: #fff; }
.tk1 { color: #0000FF; background-color: #fff; }
.tk2 { color: #000080; background-color: #fff; }
.tk3 { color: #000080; background-color: #fff; }
.tk5 { color: #000080; background-color: #fff; }
.tpre { color: #0000FF; background-color: #fff; }
.tcom { color: #008000; background-color: #fff; }
.tnum { color: #000; background-color: #fff; }
.tstr { color: #008080; background-color: #fff; }
.tbr { color: #FF0000; background-color: #fff; }
.topr { color: #000; background-color: #fff; }

.tag-minor {font-size: 12px;}
.tag-normal {font-size: 14px;}
.tag-major {font-size: 16px;}
.tag-numero-uno {font-size: 18px;}
.description a {color: black;}
.description a:hover {background: none;}
.buyme img {margin-right: 46px; margin-top: 10px;}

.post-separator {background: transparent url(/images/orn.png) no-repeat scroll center; height: 50px; margin-top: 30px;}
.post-archive small {float: left;width: 80px;text-align: center;border: 1px solid #C1E56D;margin: 15px 10px 5px 0px;padding:5px;border-top-width: 10px;}


.flip {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
